#about {
	overflow: auto;
	background-color: #F0F8FF;
	padding-left:100px;
	padding-right:100px;
	padding-top:100px;
}
a.menu:hover{
	color:red;
}
a.menu {
	text-decoration: none;
	font-size:20px;
	color:#E0FFFF;
	padding-left:15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
a.news:hover{
	color:red;
}
a.news {
	text-decoration: none;
	color: #00008B;

}
#article li{
	display:block;
}

body {
	font-family:"Trebuchet MS";
	margin:0;
	color:#00008B;
	letter-spacing: 1px;
}

#candidates{
	background-color: #F0F8FF;
	overflow: auto;
	padding-left:100px;
	padding-right:100px;
	padding-top:100px;
}


#candidates h1, #media h1, #about h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom:50px;
	font-size:40px;
	letter-spacing: 2px;
	color:red;

}

#candidates h3 {
	font-size: 25px;
	margin:0px;
	margin-top:5px;
	float:left;
	color:#00008B;
}
.container{
	margin-top:200px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:50px;
}

#donaldtrump{
	float:left;
	width:40%;
	margin-left:50px;
}
#donkey {
	margin-left:10px;
}

#elephant {
  margin-left:10px;

}
footer{
	background-color:#00008B;
	height:80px;
	width:100%;
}
#gallery {
	text-align: center;
}

header {
	background-color:#00008B;
	height:80px;
	width:100%;
	padding-top:10px;
	position: fixed;
	top:0;
	margin:0;
	z-index: 1;

}

header h1 {
  margin:0;
  font-size:44px;
  color:#E0FFFF;
  letter-spacing: 3px;
  
}

header h2 {
	margin:0;
	text-align: center;
	font-size:20px;
	color:red;
	letter-spacing: 2px;
}

header ul {
	list-style-type: none;
	margin:15px;
	float:right;
	padding-top: 10px;
	padding-left: 0px;
}
.herebutton {
	color:red;
	font-weight: bold;
	text-decoration: none;
}
#hillaryclinton {
	float:right;
	width:40%;
	margin-right:50px;
}
#home {
	background:black url("whitehouse.jpg") no-repeat  center ;
	background-size: cover;
	height:85vh;

}
.homepage {
	text-align: center;
	font-size: 30px;
	margin-top:50px;
}

li {
	display:inline;
}
#logo {
	float:left;
	position: relative;
	margin-left:20px;
	margin-right:20px;
	margin-top:0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#media {
	background-color:#f0f0f5;
	overflow: auto;
	padding-left:100px;
	padding-right:100px;
	padding-top:100px;	
	text-align: center;
}
#media h3 {
	font-size:30px;
}
#nyt {
	margin-top:50px;
	line-height: 30px;
	margin-bottom:70px;
}
#nytlogo {
	margin-left:10px;
	margin-bottom:-30px;
}
.outlets {
	padding:30px;
	padding-left:0;
	padding-right:40px;


}
p {
	color:#00008B;
}
#p1 {
	padding:20px;
	background-color: rgba(255,255,255,0.6);
	color:#00008B;
	margin-top:150px;
	width:80%;
	font-size: 30px;
	font-weight: bold;
	position:absolute;
/*	text-align: center;*/
}
#p2 {
	background-color: rgba(255,255,255,0.6);
	padding:10px;
	color:#00008B;
	width:40%;
	font-size: 15px;
	font-weight: bold;
	right:0px;
	bottom:0px;
	position:absolute;
	text-align: right;
}
#red {
	color:red;
}
#title {
	margin:200px;
}
ul#article {
	padding-left: 0;
}